@font-face {
    font-family: Jumper;
    src: url(Jumper.ttf);
}

@font-face {
    font-family: AlteHaas;
    src: url(AlteHaas.ttf);
}

header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: white;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-top: 10px;
    z-index: 5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 20px;
    font-family: Jumper;
}

li a:hover:not(.active) {
    text-decoration: underline black;
    border-radius: 150px;
}

.active {
    background-color: black;
    color: white;
    border-radius: 300px;
    margin: 0;
}

.main {
    position: relative;
    width: 100%;
    height: 800px;
    top: 20px;
    z-index: 0;
    left: 0;
    right: 0;
    background-image: url(ad-astra.jpg);
}

.main h1{
    font-size: 75px;
    font-family: AlteHaas;
    font-weight: 10px;
    color: black;
    text-align: center;
}

.first {
    background-color: transparent;
    position: absolute;
    left: 10%;
    top: 40px;
    right: 0;
    width: 175px;
    height: 250px;
    filter: drop-shadow(10px 10px 10px black);
    transition: 0.5s;
    z-index: 2;
}

.first:hover {
    top: 25px;
}

.first:hover + #draco {
    display: block;
}

#draco {
    width: 150px;
    height: 150px;
    left: 325px;
    top: 50px;
    background-color: white;
    border-radius: 10px;
    display: none;
    padding: 10px;
    position: absolute;
    z-index: 3;
}

#draco h2 {
    font-family: AlteHaas;
}
